<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    stopOnFailure="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    bootstrap="./vendor/autoload.php">
    <testsuites name="Reporter Test Suite">
        <testsuite>
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>